.selector-for-some-widget {
    box-sizing: content-box;
    scroll-behavior: smooth;
  }
  
body{
    margin: 0;
    padding: 0;
    font-family: monospace;
}


nav ul{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00454c;
}

nav ul li a{
    display: block;
    padding: 25px 0;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

nav ul li a:hover{
    background-color: #005b6d;
    color: aliceblue;
}

.right-content{
    margin-left: 260px;

}

.section{
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;
    min-width: 650px;
}

.section:nth-child(2){
    background-color: #fff;
}
.section:nth-child(3){
    background-color: #fff;
}
.section:nth-child(4){
    background-color: #fff;
}

.text-content h2 {
    text-transform: uppercase;
    font-size: 50px;
    color: #005b6d;
}
.text-content h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: #005b6d;
}
.text-content h4 {
    text-transform: uppercase;
    font-size:20px;
    color:#005b6d;
}

.text-content p{
    line-height: 2;
    font-size: larger;
}

.text-content{
    width: 75%;
}

#home{
    background-image: url(d795fc16956633.5d39eb184b703.jpg);
    background-size: cover;
    background-position: center center;
}

.img-area{
    height: 195px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px 25px;
    border: 15px double #fff;
}
.text-content h1 {
    font-size: 100px;
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
}


#home p{ 
    color: rgb(255, 255, 255);
    font-size: 30px;
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
}

#skills ul{
    font-size: larger;
}

@media (max-width: 310px) {
    nav{
        background: #fff;
        height: 86px;
    }
    nav ul{
        width: 100%;
        height: 60px;
    }
    nav ul li a {
        border-bottom: none;
        float: left;
        margin-left: 100px;
    }
    nav ul li a:hover{
        background-color: transparent;
    }
    .right-content{
        margin-left: 0;
    }
    .img-area{
        display: none;
    }
    .text-content h2{
        font-size: 100px;
    }
    .text-content p {
        font-size: 400px;
    }
}
